// Widescreen
@include mediaXL {

}

// Monitor
@include mediaLg {

}

// Tablet
@include mediaMd {
    main {
        align-items: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0,0,0);
        }


    }
    .menu-nav {
        text-align: center;
        height: 70vh;
        transform: translate3d(-100%,0,0);
        .nav-link {
            font-size: 30px;
            font-weight: 600;
            &:hover {
                font-size: 32px;
                font-weight: 600;
            }
        }
    }
    .menu-branding {
        .portrait {
            height: 150px;
            width: 150px;
            position: relative;
            background: url('../img/portrait_sm.jpg');
            background-repeat: no-repeat;
            background-position: center;
        }
        height: 30vh;
        transform: translate3d(100%,0,0);
    }

    .about-info {
            grid-template-areas:
            'bioimage'
            'bio'
            'job1'
            'job2';
            grid-template-columns: 1fr;
    }

    .projects {
        grid-template-columns: 1fr;
    }
}


// Smartphone
@include mediaSm {

    &#bg-img {
        background-position: center;
    }
    main {
    padding: 2rem 2rem 0rem;
    }


    main#home {
        h1 {
            font-size: 50px;
            margin-top: 10vh;
            text-align: center;
        }
        h2 {
            font-size: 17px ;
            position: absolute;
            left: 0;
            right: 0;
            padding-bottom: 0%;
            text-align: center;

        }


    }

    main#about {
        h1 {
            font-size: 50px;
            margin-top: 10vh;
            text-align: center;
        }
        h2 {
            font-size: 17px ;
            position: absolute;
            left: 0;
            right: 0;
            padding-bottom: 0%;
            text-align: center;
        }

        .about-info {
            margin-top: 12vh;
            .bio {
                margin-top: 30px;
                h3 {
                    font-size: 40px;
                    line-height: 40px;
                }
                padding: 0.25rem;
            }
            .job {
                padding: 0.35rem;

            }

        }
    }

    main#contact {
        h1 {
            font-size: 50px;
            margin-top: 10vh;
            text-align: center;
        }
        h2 {
            font-size: 17px ;
            position: absolute;
            left: 0;
            right: 0;
            padding-bottom: 0%;
            text-align: center;

        }

        .contact {
            position: absolute;
            margin-top: 5rem;
            padding-left: 0;
            padding-top: 5rem;
            div{
            font-size: 20px;
            padding-top: 5px;
            }
        }
    }

    main#work {
        h1 {
            font-size: 50px;
            margin-top: 10vh;
            text-align: center;
        }
        h2 {
            font-size: 17px ;
            position: absolute;
            left: 0;
            right: 0;
            padding-bottom: 0%;
            text-align: center;
        }

        .projects {
            padding-top: 3vh;
        }

    }

    #sticky-footer {
        margin-left: -2rem;
        margin-right: -2rem;
    }

}
