// Widescreen
@include mediaXL {

}

// Monitor
@include mediaLg {

}

// Tablet
@include mediaMd {
    main {
        align-items: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0,0,0);
        }


    }
    .menu-nav {
        text-align: center;
        height: 70vh;
        transform: translate3d(-100%,0,0);
        .nav-link {
            font-size: 30px;
            font-weight: 600;
            &:hover {
                font-size: 32px;
                font-weight: 600;
            }
        }
    }
    .menu-branding {
        .portrait {
            height: 150px;
            width: 150px;
            position: relative;
            background: url('../img/portrait_sm.jpg');
            background-repeat: no-repeat;
            background-position: center;
        }
        height: 30vh;
        transform: translate3d(100%,0,0);
        }

}


// Smartphone
@include mediaSm {

    main#home h1 {
        font-size: 78px;
        margin-top: 10vh;
    }
}
